/* titles */
.article-title, .linked-title, .crosspost-title {
	/* typography */
	font-family: $heading-font;
	letter-spacing: .05em;
	
	/* size and positioning */
	margin-bottom: .1em;
	
}

.article-title {
	/* typography */
	font-size: 1.55em;
	line-height: 1.5em;
	font-weight: bold;
	
	a {
		/* typography */
		color: $color-primary;
	}
	
	a:hover {
		text-decoration: underline;
		@include text-decoration-color( $color-secondary );
	}
}

.linked-title, .crosspost-title {
	/* typography */
	line-height: 1.15em;
	font-size: 1.05em;
	font-weight: 500;
	text-transform: uppercase;
	
	img {
		/* size and positioning */
		height: 1.0em;
		margin-left: .75em;
		vertical-align: bottom;
	}
	
	img:hover {
		background-color: $color-grey;
	}
	
	a {
		/* typography */
		color: $color-primary;
		@include text-decoration-color ( $color-secondary );
	}
}