// color palette
$color-primary: 	#002663; // blue
$color-secondary: 	#b22234; // red
$color-background:	#FFFFFF; // white
$color-white:		#FFFFFF; // white
$color-grey:		#D3D0CB; // grey

// fonts
$heading-font:		"Roboto", sans-serif;
$body-font:			"Roboto", sans-serif;

// Sizes
